.profile-container {
}
.about {
  width: auto;
  /* border: 1px solid red; */
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

.profile-pic {
  width: 13em;
  height: 13em;
  /* border: 1px solid red; */
  border-radius: 5px;
}

.info {
  margin: auto 0 2em;
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.title {
  font-weight: 600;
  margin-bottom: 5px;
}


.posts-container{
  height: 28em;
  overflow-y: auto;
  background-color: rebeccapurple;
}
